.image-hover:hover{
    transform: scale(0.9) ;
    transition-duration: 0.5s;
    cursor:pointer;
}

@media (max-width:600px){
    .Grid-center{
        display: flex;
        justify-content: center;
       
    }
    .sale-title{
      
        font-size: 12px;
    }
    .sale-position{
        transform: translate(35px, 62px) !important;
        
    }
    .related-product{
        justify-content: center !important;
    }
} 