.image-gallery{
    max-width:100%;

}
.image-gallery-image{
    max-height: 50vh !important;
}
@media (max-width:600px){
    .tunder-short{
        font-size: 25px !important;
        padding-left: 28px !important;
}
.text-slider{
     margin-top: 202px !important;
     padding-left:0px  !important;
}
.footer-class{
    margin-top: 40px !important;
}
.sale-title{
      
    font-size: 12px;
}
.sale-position{
    transform: translate(35px, 62px) !important;
    
}
/* .sale{
   
    transform: translate(200px,104px) !important;

} */
}

@media (max-width:900px){

.text-slider{
     margin-top: 292px !important;
     padding-left:0px  !important;
}


/* 
.image-for-sale{
padding-left: 55px !important;
}

.slider-grid{

}  */
}